$border-color: #dee2e6;
$active-color: #007bff;

.list{
    height: 100%;
    padding: 5px;
    //box-shadow: -0px 0px 10px #aaa;
    background-color: #fff;
    border-left: 1px solid $border-color;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 10;

    .head{
        text-align: center;
        border-bottom: 1px solid $border-color;
        padding-bottom: 1em;

        .date{
            display: block;
        }

        .amount{
            display: block;
            font-size: 3em;
        }
    }

    .card{
        //background-color: #eee;
        box-sizing: border-box;
        padding: 4px;
        border-bottom: 1px solid $border-color;

        &.active{
            background-color: $active-color !important;
            color: #fff !important;

            .details{
                color: #fff !important;
            }
        }

        .address{
            display: block;
        }

        .details{
            display: block;
            font-size: 0.7em;
            color: #777;
        }

        &:hover{
            background-color: #eee;
            cursor: pointer;
        }
    }
}

.scrollOffset{
    position: relative;
    visibility: hidden;
    width: 0;
    height: 0;
    bottom: calc(50vh - 24px);
}

