.address {
    text-align: center;
    padding: 1em;
    font-size: 1.4em;
    display: block;

    .city{
        font-size: 0.7em;
        display: block;
    }
}

.table {
    td {
        width: 50%;
    }
}