.module {
    z-index: 20;
}

.address {
    text-align: center;
    padding: 1em;
    font-size: 1.4em;
    display: block;

    .city{
        font-size: 0.7em;
        display: block;
    }
}

.table {
    td {
        &.cellLeft {
            width: 40%;
        }

        &.cellRight {
            width: auto;
        }
    }
}