.toggleButton {
    width: 175px;
    height: 40px;

    position: absolute;
    top: 10px;
    left: 195px;

    box-shadow: #AAA 1px 1px 3px;
    background-color: #fff !important;
    border-radius: 0 !important;

    &:hover{
        background-color: #EEE !important;
    }
}

.routeLength {
    width: 200px;
    height: 40px;

    position: absolute;
    top: 10px;
    left: 380px;

    text-align: center;
    line-height: 40px;

    box-shadow: #AAA 1px 1px 3px;
    background-color: #fff;
}