.module {
    z-index: 20;
}

.address {
    text-align: center;
    padding: 1em;
    font-size: 1.4em;
    display: block;

    .city {
        font-size: 0.7em;
        display: block;
    }
}

.table {
    td {
        &.cellLeft {
            vertical-align: middle;
            width: 45%;
        }

        &.cellRight {
            vertical-align: middle;
            width: auto;
        }
    }
}

.buttonContainer {
    display: block;
    width: 100%;
    padding: 0.75rem;
    position: absolute;
    bottom: 0;

    Button {
        width: 100%;
    }
}